<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../lib/vue-2.4.0.js"></script>
</head>

<body>
    <div id="app">

        
        <select name="" id="input" class="form-control" required="required">
            <option value=""></option>
        </select>

        
        <div class="panel panel-info">
              <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
              </div>
              <div class="panel-body">
                    Panel content
              </div>
        </div>
        
        

    </div>
    <script>
        var vm=new Vue({
           el:'#app',
           data:{},
           methods:{}
        });
    </script>
</body>

</html>